#steam-innovators .container {
  background: url('../images/WebBackground.png');
}

#steam-innovators #row {

}

#row .h3 {

}

##row .h3 .p {

}

#row #whysteam {

}

#row #overview {

}

#row #topsteam {

}

#row #nextbig {

}

#row #steamclub {

}

#row #ambassadors {

}

#row #global {

}

#row #hall {

}

#row #hall #annual {

{

#row #hall #wallof {

}

#row #circle1 {
  border-radius: 100%
  border-style: 2px solid black;
  height: 24px;
  width: 24px;
}

#row #circle2 {
  border-radius: 100%
  border-style: 2px solid black;
  height: 24px;
  width: 24px;
}

#row #circle3 {
  border-radius: 100%
  border-style: 2px solid black;
  height: 24px;
  width: 24px;
}

#row #circle4 {
  border-radius: 100%
  border-style: 2px solid black;
  height: 24px;
  width: 24px;
}

#row #planet {

}

#row #scholar {

}

#row #store {

}

#row #center1 {

}

#row #center2 {

}
#row #center3 {

}

#row #center4 {

}

#row #center5 {

}

#row #center6 {

}

#row #center7 {

}

#row #center8 {

}

#top1 {

}

#top2 {

}

#top3 {

}

#top4 {

}

#top5 {

}

#top6 {

}

#top7 {

}

#socialLinks {

#top1 #socialLinks {

}

#top2 #socialLinks {

}

#top3 #socialLinks {

}

#top4 #socialLinks {

}

#top5 #socialLinks {

}

#top6 #socialLinks {

}

#top7 #socialLinks {

}

#row #leftarrow {

}

#row #middle1 {

}

#row #middle2 {

}

#row #hover1 {

}

#row #hover2 {

}

#row #rightarrow {

}

